*{
	box-sizing: border-box;
}
h1, h2, p, a, label, legend{
	font-family: helvetica, sans-serif;
}
form fieldset{
	border:none;
	padding:50px;
	display: flex;
	justify-content: center;
}
form legend{
	font-weight: bold;
}
form input[type="text"]{
	width:500px;
	height: 3em;
	margin:10px;
}
form textarea{
	
	width:500px;
}
form input[type="submit"]{
	height: 3em;
	margin:10px 0;
}
.alert{
	color:#ff0066;
}
